# Настройки приложения
APP_PORT=8080

# Настройки базы данных PostgreSQL
# Если запускаешь через Docker Compose, DB_HOST должен быть 'postgres'
# Если запускаешь локально через go run, DB_HOST должен быть 'localhost'
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=subscriptions
DB_SSLMODE=disable